@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<div class="alert alert-success" role="alert">
    Your Email Has been confirmed. Please login by<a href="/Identity/Account/Login" class="alert-link">Click here...</a>
</div>