@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 >@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4 style="color: #71b100;">Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="abc123@gmail.com"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" placeholder="********"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="********"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
    
   
    <div class="col">
        <div class="float-left"><img style="max-width:600px;border:none;margin-left:50px;margin-top:-40px;" class="img-fluid img-thumbnail" src="~/Images/Knowledge reading knowledge illustration.png" alt="BookBuddy"></div>

    </div>
        </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
