@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="alert alert-success" role="alert">
    Your Order Has Been Placed Successfully <a asp-controller="Products" asp-action="Index" class="alert-link">Browse more....</a>. Give it a Go.
</div>